/* .div1{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-color: red;
}
.div2{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-color: red;
  
}
.div3{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
.div4{
  border: 1px solid black;
  width: 100px;
  height: 100px;
 
  
}
.contiener-div{
  display: flex;
  justify-content: space-evenly;
 
 
}
.full-div{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .contiener-div{
    display: flex;
    flex-direction: column;
    
  }
.app-centre{
  display: flex;
  justify-content: center;
}
  
}

@media screen and (max-width: 350px) {
  .full-div{

    display: flex;
    flex-direction: column;
  }

  
} */
